@use "/styles/shared/global";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-bottom: global.rem(64);
  scroll-behavior: smooth;
  position: relative;

  @include global.mq("tablet-medium") {
    grid-template-columns: 1fr;
  }
}

.description {
  p {
    @include global.fontSize(18, 24);
    color: global.$color-paragraph;
    font-weight: 100;
    margin: 0;
  }
}

.header {
  width: 100%;

  .content {
    position: fixed;
    top: global.rem(96);

    @include global.mq("tablet-medium") {
      padding: 0rem 1rem 0rem;
      position: relative;
      margin-bottom: global.rem(32);
      top: global.rem(48);
      .description {
        max-width: 100%;
      }
    }
  }
  .title,
  .description {
    text-align: left;
  }
  .title {
    // opacity: 0;
    font-weight: 700;
    color: global.$color-white;
  }

  .description {
    max-width: 23rem;
    p {
      @include global.fontSize(18, 24);
      color: global.$color-white;
      font-weight: 100;
      margin: 0;
    }
  }
  .links {
    display: flex;
    // flex-direction: column;
    margin-top: global.rem(24);
    column-gap: global.rem(24);
    width: 100%;
  }
}

.column {
  position: relative;
  z-index: 1;
  margin-top: global.rem(112);

  .description {
    margin-bottom: global.rem(96);
    padding: 0rem 1rem 0rem;
  }
  .lists {
    & > *:not(:last-child) {
      margin-bottom: global.rem(88);
    }
  }
}
