@use "/styles/shared/global";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-bottom: global.rem(64);
  scroll-behavior: smooth;
  position: relative;

  @include global.mq("tablet-medium") {
    grid-template-columns: 1fr;
  }
}

.description {
  p {
    @include global.fontSize(18, 24);
    color: global.$color-paragraph;
    font-weight: 100;
    margin: 0;
  }
}

.column {
  position: relative;
  z-index: 1;
  margin-top: global.rem(112);

  .description {
    margin-bottom: global.rem(96);
    padding: 0rem 1rem 0rem;
  }
  .lists {
    & > *:not(:last-child) {
      margin-bottom: global.rem(88);
    }
  }
}
