@use "sass:math";
@use "./variables.scss";
@use "./colors.scss";
@use "./mixins.scss";
@use "./typography";
@use "./extends";

%base {
  @include mixins.fontSize(16, 20);
  @include typography.font-secondaryN4;
  cursor: pointer;
  display: inline-flex;
  transition: 0.5s variables.$easing;
  white-space: nowrap;

}

// Primary
.c-button--primary {
  @extend %base;
  border: 1px solid transparent;
  color: colors.$color-primary-400;
}

// Secondary
.c-button--secondary {
  @extend %base;
  color: colors.$color-grey-60;

  body:not(.is-touch) & {
    &:hover {
      color: colors.$color-black;
    }
  }
}
