@use "sass:math";
@use "./variables.scss";
@use "./colors.scss";
@use "./mixins.scss";
@use "./typography";
@use "./extends";

%base {
  @include mixins.fontSize(10, 12);
  @include typography.font-secondaryN3;
  cursor: pointer;
  // border-radius: map_get(variables.$border-radius, 'sm');
  display: inline-flex;
  transition: 0.5s variables.$easing;
  white-space: nowrap;
  padding: mixins.rem(8) mixins.rem(12);
  text-transform: uppercase;
}

// Primary
.c-button--primary {
  @extend %base;
  border: 1px solid transparent;
  color: colors.$color-grey-50;
}

// Secondary
.c-button--secondary {
  @extend %base;
  color: colors.$color-grey-60;

  body:not(.is-touch) & {
    &:hover {
      color: colors.$color-black;
    }
  }
}
