// Primary
$color-primary-400: #8be9fd;
$color-primary-500: hsla(191, 97%, 77%, 0.1);
$color-primary-700: hsla(191, 97%, 77%, 0.05);

// Primary
// $color-primary-400: #c0ff70;
// $color-primary-500: #b5f465;

// Secondary
// $color-secondary-400: #fe6156;
// $color-secondary-500: #f4493c;

// Greys
$color-white: #fff;
$color-black: #121212;
$color-grey-00: $color-white;
$color-grey-10: #f4f4f4;
$color-grey-20: #eeeeee;
$color-grey-30: #b8b8b8;
$color-grey-40: #9c9c9c;
$color-grey-50: #808080;
$color-grey-60: #636363;
$color-grey-70: #474747;
$color-grey-800: #2a2a2a;
$color-grey-90: #0e0e0e;
$color-grey-100: $color-black;

// Typography
$color-eyebrow: rgba(235, 249, 251, 0.5);
$color-paragraph: rgba(235, 249, 251, 0.9);
$color-title: $color-white;

// Status
$color-error-400: #e12a02;
$color-success-400: #23c552;
$color-warning-400: #ffb800;

// Globals
$color-body: $color-black;

// Loader
$color-loader-background: $color-black;
$color-loader-progress-background: $color-black;
$color-loader-progress: $color-white;
$color-loader-copy: $color-white;

// Dato Preview Notification
$color-preview-background: $color-black;
$color-preview-copy: $color-white;
$color-preview-button-background: $color-white;
$color-preview-button-copy: $color-white;
